.featuredContainer {
  background-color: var(--y);
  border-radius: 0.65em;

  padding: 1em;
  margin: 1em 0;
}

.featuredTitle {
  margin: 0;
  padding-bottom: 0.5em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px;

  background-color: var(--light-bg);
  padding: 1em;
  margin: 1em;

  min-width: 250px;
}
