.container {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
  box-shadow: 0 5px 15px -5px var(--dark-bg);

  padding: 0.5em 0;

  background-color: var(--dark-bg);
  color: var(--text-on-dark);
}

.link {
  padding: 0.25em 0.75em;

  text-align: center;
  font-size: 2em;

  color: var(--text-on-dark);

  min-width: 200px;
  border-radius: 0.5em;
}

/* .link:hover {
  box-shadow: 0px 0px 0px 2px  var(--text-on-dark);
  transition: box-shadow 0.25s ease-in;
} */

.contact {
  display: grid;
  justify-content: center;
  align-content: center;

  color:  var(--text-on-dark);
}

.contact a {
  color:  var(--text-on-dark);
}

.mobileBtn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobileBtn {
    display: block;
    font-size: 2.5em;
    color:  var(--text-on-dark);	
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }

  .contact {
    width: 100%;
    padding: 0.8em;
    font-size: large;
  }

  .link {
    padding: 0.3em 0.25em;
    margin: auto;
  }
}
